<h3>Energy Ratings</h3>
<div class="row">
	<!-- energy chart --> 
	<div class="col-xs-6">
		<%= pie_chart @entries.group(:rating).count %>
	</div>
	<!-- Column Chart --> 
	<div class="col-xs-6">
		<%= column_chart @entries.group(:rating).count %>
	</div>
</div>
<hr />
<p><%= link_to 'Back to Calendar', entries_path %></p>