<h1><%= "Hello #{current_user.username} Welcome to Your Journal App!" %></h1>
<p><%= link_to 'Create a New Journal Entry', new_entry_path %></p>
<p><%= link_to 'View Your Entries', entries_path %></p>